.profile-card {
    width: 300px;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1.5em;
    text-align: left;
    flex-direction: row;
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.profile-name {
    font-size: 1.5em;
    font-weight: bold;
}

.profile-pronouns {
    font-size: 1.2em;
    color: #555;
}

.profile-details {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.like-count {
    font-size: 1.2em;
    text-align: center;
}

.like-button {
    padding: 0.25em;
    cursor: pointer;
}
